<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span type="span" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        <h4 class="modal-title">Saved Games</h4>
      </div>
      <div class="modal-body">
        <form action="/" method="get">
          <div class="js-saved-games-list saved-games-list container-fluid"></div>
        </form>
      </div>
      <div class="modal-footer">
        <span type="span" class="btn btn-default" data-dismiss="modal">Close</span>
      </div>
    </div>
  </div>
</div>
